body {
  background-color: greenyellow;
}

button {
  font-size: medium;
  border: none;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

img {
  width: 200px;
  height: 200px;
}